Recuperando senha

Uma solicitação de recuperação de senha foi relizada para o e-mail ({{ email }})
Se não foi você que solicitou a recuperação, é melhorar trocar ela!!
Para continuar a recuperação, utilize o token ({{ token }}) ou click no link abaixo

Criar nova senha {{ link }}
