<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi relizada para o e-mail ({{ email }})</p>
<p>Se não foi você que solicitou a recuperação, é melhorar trocar ela!!</p>
<p>Para continuar a recuperação, utilize o token ({{ token }}) ou click no link abaixo</p>

<a href="{{ link }}">Criar nova senha</a>
